<%#= params %>

<h1>que tipo de empanada eres?</h1>

<form action="<%= foods_result_path%>" method="GET">
    <label for="nombre">ingresa tu nombre, para saber que empanada eres</label>
    <input type="text" name='nombre'>
    <input type="submit" value="quiero saber!">
</form>

<h2>que empanada te gustaria ser?</h2>

<form action="<%= foods_empanada_path%>" method="POST">
    <input typa="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
    <label for="nombre">nombre de la empanada</label>
    <input type="text" name='empanada'>
    <input type="submit" value="guardar">
</form>

<%= notice %>